div{
    border:10px groove white; 
    height:auto;
    width:400px;
    

}
.row1{
    color:white;
    margin-bottom:100px;
}
h1{
    color:rgb(67, 178, 198,1.0);
    text-decoration: underline;
}

